@import url('./common/initializer.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #e5e5e5;
  color: #fff;
  font: 100 50vh/1 'Spoqa Han Sans Neo', sans-serif;
}

output {
  user-select: none;
  cursor: inherit;
  animation: wiggle steps(3) 600ms infinite alternate;
}

.stop-animate {
  animation-name: none;
}

@keyframes wiggle {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 0.4;
  }
  66.6666% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.reloadButton {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 2rem;
}

.button-group {
  display: flex;
}

.button-default {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 89px;
  height: 30px;
  padding: 0 12px;
  margin: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px #dbddf0;
  border: none;
  border-radius: 30px;
  color: #525577;
  font: 700 12px 'Spoqa Han Sans Neo', sans-serif;
}

.button-disabled {
  cursor: not-allowed;
  color: #adaeb6;
}

.icon-disabled {
  filter: invert(81%) sepia(12%) saturate(134%) hue-rotate(196deg)
    brightness(200%) contrast(40%);
}
